<?xml version="1.0" encoding="UTF-8"?>
<empresas>
	<empresa>
		<nome>STAC</nome>
		<ftp>
			<server>localhost</server>
			<port>21</port>
			<username>psmp</username>
			<password>03081981</password>
		</ftp>
		<applications>
			<compact>
				<dutyplan></dutyplan>
				<passesbusiness></passesbusiness>
				<xmlbinary></xmlbinary>
			</compact>
			<place>
				<leitora></leitora>
			</place>
			<reflex>
				<dcar></dcar>
				<reflexINI></reflexINI>
				<tube></tube>
			</reflex>
			<mobileReflex>
				<mR></mR>
				<webservice></webservice>
			</mobileReflex>
		</applications>
	</empresa>
</empresas>